* {
    margin: 0; 
    padding: 0;
    margin-top: 0;
}
body{
    
    margin: auto;
    margin-top:15px;
    width: 1150px;
    height: 2550px;
    background-image: url(bg-lightl-904.jpg);
}

.sidebar{
    border: 2px solid darkgray;
    margin-top: 5px;
    width 125px;
    height: 560px;
background-image: url(Welcome-Banner.jpg);
}
.logo{
    border: 0;
    width:190px;
    height:49px;
    margin-left: 55px;
     background-image: url(imge/logo.png);
}
.button1{ 
    margin-left:500px;; 
    border: 0;
     background-image: url(imge/Github-Icon.png);
   width: 42px;
    height: 42px;
}
.button2{
    border: 0;
   background-image: url(imge/Twitter-Icon.png);
    width: 42px;
    height: 42px;
}
hr{
    color: black;
    margin-top: 12px;
}

img {
    order: 2px solid darkgray;
    padding: 15px;
    background-color: lavender;
    width:275;
    height: 275px;
    margin-top: 15px;
    
}
.menu{
    border: 2px solid darkgray;
  background-image: url(imge/menu.png);
    
    height: 55px;
}
.main{
    background-image: url(bg-lightl-.jpg);
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 55px;
    border: 2px solid darkgray;
    padding: 15px;
    border-radius: 8px;
    font-size: 300%;
}
h1{
    color: firebrick;
}